Streamlit (streamlit as st) – Създава уеб приложението

EasyOCR - изкуствен интелект,който:
1.Се "Учи" да чете различни шрифтове и езици
2.Разпознава текст от изображения
3.„Чете“ етикети, дори да са с лошо качество

Pillow (PIL)
1. Работи със снимки
2.Подобрява качество, контраст, цветове

NumPy (numpy) - Превръща изображението в числа и
помага на EasyOCR да го обработи.
